{{template "header" .}}
{{template "navbar" .}}
<main class="py-4 px-4">

  <h1 class="">Sign Up!</h1>

  <form action="/user" method="post" class="flex flex-col gap-2 w-72 mt-6">
    <label class="block text-sm font-semibold flex flex-col"> 
      email  
      <input name="email" class="border-2" required type="email" autocomplete="email" class="block border-gray-300 placeholder-gray-600"/>
    </label>
    <label class="text-sm font-semibold flex flex-col"> 
      password  
      <input name="password" class="border-2" type="password" required class="blockborder-gray-300 placeholder-gray-600"/>
    </label>
    <button type="submit" class="border-2 w-20 bg-blue-500 text-white">Submit</button>

    <div class="text-sm mt-1">
      <div class="cursor-pointer">
        Already have an account? Log in!
      </div>
      <div class="cursor-pointer mt-1">
        Forgot password
      </div>
    </div>
  </form>

</main>
  {{template "footer"}}